@import url('https://fonts.googleapis.com/css?family=Fondamento|Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', cursive;
}

html {
    background-color: #EDEDED;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-basis: 30%;
    text-align: center;
}

nav a {
    padding: 30px;
    font-weight: 800;
    color: white;
}

h1 {
    font-size: 60px;
    flex-basis: 30%;
    color: white;
    font-family: 'Fondamento';
}

footer {
    background-color: #1B1F3A;
    height: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
}

input {
    padding-left: 12%;
}

.container {
    min-height: 100%;
}

.top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    background-color: #1B1F3A;
    padding: 5px;
}

.toplink a {
    color: white;
    margin: 10px;
}

.searchbox-main {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
}

.searchbox {
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 300px;
    background-color: #121212;
    color: white;
}

.searchbox:focus {
    background-color: #303030;
}

.magnifying-glass {
    position: absolute;
    width: 20px;
    top: 5px;
    left: 10px;
}

.header {
    background-color: #53354A;
    display: flex;
    flex-wrap: wrap;
    height: 200px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header img {
    width: 200px;
}

.main-img {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: space-around;
    margin: 30px 20px;
    flex-wrap: wrap;
}

.main img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    cursor: pointer;
}

.second {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 200px 20px;
    flex-wrap: wrap;
}

.second > * {
    transition: transform 0.3s;
}

.second:hover > :not(:hover) {
    transform: scale(.8);
}

.active {
    color: gold;
}



/* Testing scrollbar customization */

/*Changes the width of the main part of the scroll bar*/
::-webkit-scrollbar {
    width: 18px;
}

/*Changes the background color of the main part of the scroll bar*/
::-webkit-scrollbar-track {
    background: grey;
}

/*Changes the color of the scrolling part of the scrollbar*/
::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 20px;
}

/*Changes the color of the scrolling part of the scrollbar when hovered*/
::-webkit-scrollbar-thumb:hover {
    background-color: dodgerblue;
}


/* -------------------- Tablet -------------------- */
@media screen and (max-width: 659px) {
     input {
        padding-left: 40px;
    }
    
    .top {
        display: flex;
    }

    .searchbox {
        width: 200px;
    }
}

/* -------------------- Mobile -------------------- */
@media screen and (max-width: 524px) {
    input {
        padding-left: 40px;
    }

    .searchbox {
        width: 150px;
    }
}
